.App {
  text-align: center;
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

.App .App-header {
  background-color: #ffffff;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 82px;
  font-family: Heebo;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.App img {
  margin-left: 35px;
  width: 131px;
  height: 38.25px;
}
